<div class="container">
  <div class="title-stock">
    <span>Para volver pulse el botón.</span>
    <p>Consultar stock</p>
  </div>
  @if (listProduct.length > 0) {
    <div class="title">
      <p>Stock de Productos</p>
    </div>
    <div class="styled-table">
      <div class="table-header">
        <div class="table-row">
          <span class="table-header-cell">Nombre</span>
          <span class="table-header-cell">Descripción</span>
          <span class="table-header-cell">Precio</span>
          <span class="table-header-cell">Stock</span>
        </div>
      </div>
      <div class="table-body">
        @for (item of listProduct; track item) {
          <div class="table-row table-active">
            <span class="table-cell">{{ item.name }}</span>
            <span class="table-cell">{{ item.description }}</span>
            <span class="table-cell">{{ item.price | number: "1.2-2" }} €</span>
            <span class="table-cell">{{ item.stock }}</span>
          </div>
        }
      </div>
    </div>
  }
  <!--
  @if (listProduct.length === 0) {

  }
  -->

</div>
