.container {
  margin-right: 70px;
  margin-left: 70px;
}

.title-stock {
  text-align: center;
  margin-top: 10px;
  color: #4e8ec2;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

p {
  margin-top: 5px;
  color: #842b2b;
}

.title {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title p {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  color: #4e8ec2;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-header {
  background-color: #009879;
  color: #ffffff;
  font-weight: bold;
}

.table-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
}

.table-header-cell,
.table-cell {
  flex: 1;
  padding: 12px 15px;
  text-align: center;
}

.table-row:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-row:last-of-type {
  border-bottom: 2px solid #009879;
}

.table-row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.table-active {
  /* Puedes mantener este estilo o añadir más según lo necesites */
}

.edit button {
  margin-left: 5px;
}
