.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 40px;
  padding: 20px;
}
.catalog{
  margin-top: 100px;
  margin-left: 150px;
  margin-right: 150px;
}

