<div class="container">

  <div class="title">
    <p>Novedades</p>
  </div>

  <div class="lessons">

    <div class="lesson">
      <div class="lesson-icon">
        <img class="photo" src="/zapato/bajosAzul3.jpg" alt="Foto Zapato">
      </div>
      <p class="txt-contents">Barefoot Free Walker Dream Ⅰ</p>
    </div>

    <div class="lesson">
      <div class="lesson-icon">
        <img class="photo" src="/zapato/botinAzul1.jpg" alt="Foto Zapato">
      </div>
      <p class="txt-contents">Barefoot Free Walker Dream Ⅰ</p>
    </div>

    <div class="lesson">
      <div class="lesson-icon">
        <img class="photo" src="/zapato/botinVelcroVerde1.jpg" alt="Foto Zapato">
      </div>
      <p class="txt-contents">Barefoot Free Walker Dream Ⅰ</p>
    </div>

    <div class="lesson">
      <div class="lesson-icon">
        <img class="photo" src="/zapato/sportColor2.jpg" alt="Foto Zapato">
      </div>
      <p class="txt-contents">Barefoot Free Walker Dream Ⅰ</p>
    </div>
  </div>
</div>



